In [1]:
import snap
import time, pandas as pd, pickle, json, networkx as nx, numpy as np
from networkx.readwrite import json_graph

In [2]:
cons = pd.read_csv("../REST/static/filtered_twitter_connections.csv", index_col="id")
cons.sample(5)

      from_user_id          to_user_id             formation  first_date
id
401      146954686          2940722500  {'2018.05.08': True}        True
3268    2360133031  839433247998226432  {'2018.05.08': True}        True
2400    1222491402          2860492605  {'2018.05.08': True}        True
1615     494161044          3064906390  {'2018.05.08': True}        True
1192     405717491           106086098  {'2018.05.08': True}        True

In [4]:
twu_with_orgs = pd.read_csv("../REST/static/filtered_twitter_users.csv", index_col="id")
twu_with_orgs.sample(5,random_state=42)

,followers_count,friends_count,is_org,lang,match_name,match_ratio,name,screen_name,truncated_id
id,,,,,,,,,
2.795701e+09,12.0,30.0,False,en,mehdi nuruzade,100.0,Mehdi Nuruzade,mikhaylo_,279570121
1.227621e+08,276.0,1518.0,False,en,ozlem kaya,100.0,Ozlem Kaya,ozlemkya,122762092
6.664567e+07,79.0,161.0,False,tr,kutsal koruk,100.0,Kutsal Koruk,kutsalkoruk,66645671
7.688712e+17,54.0,105.0,False,tr,halil yekin guzel,97.0,Halil Yekin Güzel,HalilYekin,768871193
3.155894e+09,2.0,92.0,True,tr,?ehir Gönüllüleri Kulübü,75.0,Şehirli Günler,SehirliG,315589410

In [5]:
non_orgs = twu_with_orgs[~twu_with_orgs.is_org]
orgs = set(twu_with_orgs[twu_with_orgs.is_org].truncated_id)

In [6]:
nxg = nx.DiGraph()
truncate = lambda x: int(str(int(x))[:9])
for _, row in cons.iterrows():    
    from_ = truncate(row["from_user_id"])
    to = truncate(row["to_user_id"])
    if from_ in non_orgs.truncated_id and to in non_orgs.truncated_id:
        nxg.add_edge(from_, to)
nxg = nxg.to_directed()

In [7]:
len(nxg.nodes())

175

In [8]:
g = snap.PUNGraph.New()

In [9]:
for n in nxg.nodes():
    g.AddNode(n)

In [10]:
for f,t in nxg.edges():
    g.AddEdge(f, t)

In [11]:
CmtyV = snap.TCnComV()

## Calculating communities for nodes that had an edge at least once

In [12]:
start = time.time()
modularity = snap.CommunityGirvanNewman(g, CmtyV)
print("Took:",time.time()-start)
print ("The modularity of the network is %f" % modularity)

('Took:', 0.47908592224121094)
The modularity of the network is 0.594879

In [13]:
nodes_communities = {} # {node: [community]}
for i, Cmty in enumerate(CmtyV):
    print ("Community")
    for NI in Cmty:
        nodes_communities.setdefault(NI, [])
        nodes_communities[NI].append(i+2)
        print (NI)
    print("-"*10)

Community
18971997
22809165
31462811
39740301
54890014
71758894
78342853
86719278
89195407
105962645
106044999
116572924
118146998
122762092
145723363
148469186
153019444
160188040
162427198
164570071
164596213
165159065
170012983
170827894
209749537
233548506
238165726
239427912
275094798
292670498
342302461
349229868
365154925
371964113
434269864
439203857
444987253
476201697
577063420
618131962
625979067
766348868
802893386
872029765
889187688
900003228
900508574
904465758
946886773
972451742
----------
Community
32660008
90976741
99515495
111450444
155516378
159075428
159637252
168113833
170793146
189881254
195842934
227806410
253229470
263167320
269014960
271062336
301378912
315899534
326288590
331103502
342114048
345589356
355058617
447440907
595592832
624787113
715580484
786513674
850130101
886856594
967897650
----------
Community
55220437
67543826
85659155
144098036
162310009
168580477
193020479
245400432
260354514
302222495
314595732
344339030
344826965
404173433
419092391
462741096
586372643
614648680
615555441
853472868
928991347
----------
Community
11723602
37036731
98857070
159967656
181709561
265839474
273393599
287251843
306293307
347250524
367738612
377901136
574630629
579186200
712307286
773205608
791665500
806216310
827129070
930518624
----------
Community
166720591
175426030
178728184
195129988
214511627
218095010
248426373
334139315
367968322
376697378
425432346
512080374
539055869
572370285
586809124
712567496
741129642
891177368
----------
Community
14668733
47148388
118382186
153772652
166501878
224727919
243820223
293976465
327649487
342264107
411064560
437858563
501944828
611652164
944285684
----------
Community
45125220
49669079
54145022
67318883
81094202
93385894
113954902
138348596
179985645
253616057
378536512
----------
Community
52171453
227981296
229517534
318006413
344090521
497860167
----------
Community
266826023
283536919
818364804
----------

In [14]:
set([i[0] for i in nodes_communities.values()])

{2, 3, 4, 5, 6, 7, 8, 9, 10}

In [31]:
def assign_com(node):
    try:
        return str(nodes_communities[node][0])
    except KeyError:
        if node in orgs:
            return "foci"  # this is a foci, not a user
        else:
            return "1" # there are no connections for this node
    
twu_with_orgs["community"] = twu_with_orgs.truncated_id.apply(lambda node: assign_com(node))
twu_with_orgs.sample(5, random_state=42)

,followers_count,friends_count,is_org,lang,match_name,match_ratio,name,screen_name,truncated_id,community
id,,,,,,,,,,
2.795701e+09,12.0,30.0,False,en,mehdi nuruzade,100.0,Mehdi Nuruzade,mikhaylo_,279570121,1
1.227621e+08,276.0,1518.0,False,en,ozlem kaya,100.0,Ozlem Kaya,ozlemkya,122762092,2
6.664567e+07,79.0,161.0,False,tr,kutsal koruk,100.0,Kutsal Koruk,kutsalkoruk,66645671,1
7.688712e+17,54.0,105.0,False,tr,halil yekin guzel,97.0,Halil Yekin Güzel,HalilYekin,768871193,1
3.155894e+09,2.0,92.0,True,tr,?ehir Gönüllüleri Kulübü,75.0,Şehirli Günler,SehirliG,315589410,foci

In [32]:
twu_with_orgs.to_csv("../datasets/filtered_twitter_users.csv", index_label="id")
twu_with_orgs.to_csv("../REST/static/filtered_twitter_users.csv", index_label="id")

## Calculating network diameter

In [33]:
with open('../REST/static/networks/twitter_users_graph2.json', 'r') as f:
    data = json.load(f)
    nxg = json_graph.node_link_graph(data, directed=True)
nxg = nxg.to_directed()

In [34]:
def networkx_to_snappy(nxg, directed=False):
    if directed:
        g = snap.PNGraph.New()
    else:
        g = snap.PUNGraph.New()
        
    for n in nxg.nodes():
        g.AddNode(n)
    for f,t in nxg.edges():
        g.AddEdge(f, t)
        
    return g

In [35]:
for node in nxg.nodes():
    nxg.nodes[node]["community"] = twu_with_orgs.loc[node]["community"]

In [36]:
data = nx.node_link_data(nxg)
data["modularity"] = modularity
data["number_of_communities"] = len(CmtyV)

snappy_directed = networkx_to_snappy(nxg, True)
snappy_undirected = networkx_to_snappy(nxg, True)

diam_directed = snap.GetBfsFullDiam(snappy_directed, 100, True)
diam_undirected = snap.GetBfsFullDiam(snappy_undirected, 100, False)

data["diameter_directed"]=diam_directed
data["diameter_undirected"]=diam_undirected
with open('../visualization/twitter_users_graph2.json', 'w') as f:
    json.dump(data, f, indent=4)
    
with open('../REST/static/networks/twitter_users_graph2.json', 'w') as f:
    json.dump(data, f, indent=4)