In [12]:
import psycopg2

import pandas as pd
import numpy as np

from copy import deepcopy

import ast
import random
import networkx as nx
import time, unicodedata
import itertools

from fuzzywuzzy import fuzz
from fuzzywuzzy import process

from joblib import Parallel, delayed
from datetime import datetime

In [3]:
rc = pd.read_csv("../REST/static/random_connections.csv",index_col="Unnamed: 0")
rc.sample(5)

       from_user_id  to_user_id             formation
12847     715580484   288517297  {'2018.05.11': True}
12987      97707163   833429630  {'2018.05.29': True}
14858     940130879   108026159  {'2018.05.29': True}
1805      828020555   915278292  {'2018.05.26': True}
11560     147572001   110804295  {'2018.05.02': True}

In [14]:
import ast
str2dict = lambda d : ast.literal_eval(d)

In [15]:
rc.formation = rc.formation.apply(str2dict)

In [16]:
def present_in_date(changes_dates, queried_date):
    """
    checking if a connection is present in a queried date
    changes_dates: {d1:True, d2:False, d3:True} connection added or removed
    queried_date: e.g. "2018.05.08"
    """
    str2date = lambda strdate: datetime.strptime(strdate, '%Y.%m.%d')  # 2018.05.08
    changes = sorted(changes_dates,key=lambda d: str2date(d))
    queried_date = datetime.strptime(queried_date, '%Y.%m.%d')
    present = False
    for d in changes:
        if queried_date < str2date(d):
            break
        present = changes_dates[d]
    return present

In [70]:
def calculate_new_edges2(d1="2018.05.01", d2="2018.05.02"):
    nw = deepcopy(rc)
    for_col = nw.formation.apply(lambda dates: present_in_date(dates,d2) and not present_in_date(dates,d1))
    return rc[for_col == True]

In [71]:
s = time.time()
c1 = calculate_new_edges()
print("took: ",time.time()-s)

took:  0.3826630115509033

In [72]:
c1.sample(5)

       from_user_id  to_user_id             formation
11593     612625044   334697739  {'2018.05.02': True}
14977     722873773   594065508  {'2018.05.02': True}
7929       87700605   175426030  {'2018.05.02': True}
9866      909735272   314339417  {'2018.05.02': True}
9235       76640116   241277446  {'2018.05.02': True}

In [73]:
def get_connections_by_date(cons, date, present=True):
    nw = deepcopy(cons)
    for_col = nw.formation.apply(lambda dates: present_in_date(dates,date))
    return cons[for_col == present]

In [74]:
def calculate_new_edges(d1="2018.05.01", d2="2018.05.02"):
    return get_connections_by_date(get_connections_by_date(rc, d2), d1, False)

In [118]:
s = time.time()
c2 = calculate_new_edges2()
print("took: ",time.time()-s)

took:  0.35861849784851074

In [119]:
twitter_users = pd.read_csv("../REST/static/twitter_users.csv", index_col="id")
twitter_users.sample(5)

,match_name,screen_name,match_ratio,tw_id,name,lang,followers_count,friends_count,is_org,community
id,,,,,,,,,,
174415744,sehir sehir,sehiredebiyat,95,1.744157e+08,sehir edebiyat,en,2070.0,287.0,True,8
244600920,merve akalin,meurvve,91,2.446009e+09,Merve Çakal,tr,10.0,81.0,False,29
101400688,furkan seza mumcu,furkanseza,95,1.014007e+09,Furkan Mumcu,tr,174.0,208.0,False,25
162081482,ceyda tatari,ceydatatari,100,1.620815e+08,Ceyda Tatari,en,192.0,184.0,False,7
586815260,yonca baran,BaranYonca,100,5.868153e+08,yonca baran,tr,125.0,153.0,False,24

### Categorizing edges (user-user vs user-foci)

In [120]:
orgs = set(twitter_users[twitter_users.is_org==True].index)

In [147]:
is_focal = lambda from_,to, orgs: (0,0) if (from_ in orgs and to in orgs)\
                                        or not(from_ in orgs or to in orgs)\
                                            else ((to,from_) if to in orgs else (from_,to))

In [150]:
c2["foci"] = c2.apply(lambda row:is_focal(row['from_user_id'], row['to_user_id'], orgs), axis=1)
c2["nonfoci"] = c2.foci.apply(lambda f: f[1])
c2["foci"] = c2.foci.apply(lambda f: f[0])
c2[c2.foci!=0]

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

       from_user_id  to_user_id             formation       foci    nonfoci
2777      154837447   819269230  {'2018.05.02': True}  819269230  154837447
5148      888378156   430605010  {'2018.05.02': True}  430605010  888378156
8967      746201372   271718939  {'2018.05.02': True}  271718939  746201372
9877      900469680   283216865  {'2018.05.02': True}  283216865  900469680
10734     111082356   386276047  {'2018.05.02': True}  111082356  386276047
12256     306164644   754963839  {'2018.05.02': True}  306164644  754963839
13585     306164644   550121465  {'2018.05.02': True}  306164644  550121465
14824     594766612   847741204  {'2018.05.02': True}  847741204  594766612

# Calculating membership closures
### if a user u1 just got a new connection with foci f1 at time t2, get friends of u1 who had connections with f1 at time t1

In [152]:
t1 = get_connections_by_date(rc, "2018.05.01")

In [153]:
t1["foci"] = t1.apply(lambda row:is_focal(row['from_user_id'], row['to_user_id'], orgs), axis=1)
t1["nonfoci"] = t1.foci.apply(lambda f: f[1])
t1["foci"] = t1.foci.apply(lambda f: f[0])
t1[t1.foci!=0]

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

       from_user_id  to_user_id             formation       foci    nonfoci
697       581066517   347250524  {'2018.05.01': True}  581066517  347250524
4193      856911339    74959905  {'2018.05.01': True}  856911339   74959905
6091      118400394   271718939  {'2018.05.01': True}  271718939  118400394
9466      284399096   131150936  {'2018.05.01': True}  131150936  284399096
10415     152042796   819269230  {'2018.05.01': True}  819269230  152042796
12308     441584584   803581588  {'2018.05.01': True}  803581588  441584584
12366     218228766   111082356  {'2018.05.01': True}  111082356  218228766
12708     306672777   841682908  {'2018.05.01': True}  841682908  306672777
13396     856911339   946886773  {'2018.05.01': True}  856911339  946886773
13581     847741204   110320190  {'2018.05.01': True}  847741204  110320190

In [154]:
# foci'es present at t1 and t2
mutual_foci = c2[c2.foci!=0].merge(t1[t1.foci!=0], on="foci")
mutual_foci

,from_user_id_x,to_user_id_x,formation_x,foci,nonfoci_x,from_user_id_y,to_user_id_y,formation_y,nonfoci_y
0,154837447,819269230,{'2018.05.02': True},819269230,154837447,152042796,819269230,{'2018.05.01': True},152042796
1,746201372,271718939,{'2018.05.02': True},271718939,746201372,118400394,271718939,{'2018.05.01': True},118400394
2,111082356,386276047,{'2018.05.02': True},111082356,386276047,218228766,111082356,{'2018.05.01': True},218228766
3,594766612,847741204,{'2018.05.02': True},847741204,594766612,847741204,110320190,{'2018.05.01': True},110320190

## check for membership closure

In [146]:
def membership_closure(cons, u1, u2):
    truncate = lambda x: int(str(int(x))[:9])
    u1_friends = set(
        cons.apply(lambda row: truncate(row['to_user_id'])if truncate(u1) == truncate(row['from_user_id'])\
                 else (truncate(row['from_user_id']) if truncate(u1) == truncate(row['to_user_id'])\
                   else np.NaN), axis=1).dropna())
    return u2 in u1_friends

In [156]:
mutual_foci['membership_closure'] = mutual_foci.apply(lambda row: 
                                                      membership_closure(t1,
                                                                         row['nonfoci_x'],
                                                                         row['nonfoci_y']),axis=1)
mutual_foci

,from_user_id_x,to_user_id_x,formation_x,foci,nonfoci_x,from_user_id_y,to_user_id_y,formation_y,nonfoci_y,membership_closure
0,154837447,819269230,{'2018.05.02': True},819269230,154837447,152042796,819269230,{'2018.05.01': True},152042796,False
1,746201372,271718939,{'2018.05.02': True},271718939,746201372,118400394,271718939,{'2018.05.01': True},118400394,False
2,111082356,386276047,{'2018.05.02': True},111082356,386276047,218228766,111082356,{'2018.05.01': True},218228766,False
3,594766612,847741204,{'2018.05.02': True},847741204,594766612,847741204,110320190,{'2018.05.01': True},110320190,False

In [40]:
def clean(name, min_len=5, junk_replacement=''):
    try:
        cleaned = unicodedata.normalize('NFKD', name).encode('ascii', 'ignore').lower().decode("ascii")
    except TypeError:
        return junk_replacement
    if len(cleaned) < min_len:
        return junk_replacement
    return cleaned

In [41]:
def construct_network(connections, rec_metrics=True):
    G = nx.DiGraph()
    truncate = lambda x: int(str(int(x))[:9])
    for _, row in connections.iterrows():
        from_ = truncate (row["from_user_id"])
        to = truncate (row["to_user_id"])
        if from_ in twitter_users.index and to in twitter_users.index:
            G.add_edge(from_, to)

    augs = ["name", "screen_name", "match_name", "followers_count", "friends_count", "lang"]
    for node in G.nodes():
        user = twitter_users.loc[node]
        for aug in augs:
            if type(user[aug]) == str:
                m = clean(user[aug])
            else:
                m = user[aug]
            G.nodes[node][aug] = m

    if rec_metrics:
        return recalculate_metrics(G, parse=False)
    return G

In [45]:
twitter_users = pd.read_csv("../REST/static/twitter_users.csv", index_col="id")
g = construct_network(cons, False)

In [46]:
g.nodes()

NodeView((99528248, 280162312, 825982985, 214511627, 174575628, 429101069, 492441614, 282013711, 309387281, 878145554, 378589207, 219985599, 166260766, 521494559, 252747814, 951803948, 846204973, 477970480, 263102513, 303712444, 157065267, 546145630, 68714550, 939433993, 742686779, 242561084, 283967550, 379052096, 367968322, 800456772, 861384775, 235114569, 121806922, 377901136, 119926869, 218439766, 800981689, 244600920, 314339417, 163958799, 859103325, 187936863, 492408930, 955502694, 342192231, 985120873, 829767786, 98857070, 895516783, 101400688, 159965297, 422637683, 105865333, 162017398, 167617087, 885989498, 935448699, 833429630, 181272713, 105140362, 298713229, 312324238, 104079504, 885133463, 165159065, 360181915, 923681478, 939057318, 929796263, 237928616, 223486124, 333914287, 239472818, 487846071, 162081482, 514220222, 116871367, 895381707, 952632696, 169021655, 335220952, 257503461, 221274342, 228970729, 194228463, 756224243, 755388661, 490250488, 531509972, 754963839, 267200305, 749986048, 437858563, 920600836, 296694022, 287350828, 312840462, 230850831, 240619794, 847741204, 324673815, 215036184, 746201372, 233548506, 260874526, 201203999, 720740640, 221630754, 968364324, 266826023, 155767082, 97239341, 941056302, 96313649, 170012983, 928678200, 105551924, 462209339, 755188029, 162427198, 2425151, 492654914, 330412358, 611717447, 239427912, 54145022, 266907978, 298537292, 204943693, 170758481, 146874707, 618201430, 566301015, 269906264, 230109531, 212613861, 271765563, 152015204, 992330093, 489594259, 891985982, 933298551, 298299769, 330158378, 740721020, 464740734, 287084927, 356180353, 818364804, 239980933, 968544654, 427438482, 920744341, 134181274, 979272110, 107626766, 156262836, 309158326, 182337610, 280232385, 335741378, 148271556, 867631558, 154837447, 291729868, 156332496, 493130488, 839025106, 633680339, 891642325, 223769046, 293675480, 960623069, 112014757, 233345505, 90976741, 767807974, 205640168, 761450988, 479673085, 405717491, 715252212, 272466423, 895992314, 276349436, 245907967, 942006784, 240849410, 971137540, 113954902, 149275142, 229149441, 456886867, 193069587, 106390036, 821834261, 342151708, 920044061, 329306654, 474399263, 278856224, 175334832, 376697378, 957219363, 141529642, 132198493, 256852529, 291611186, 430617139, 247001652, 51421753, 291426874, 940130879, 378536512, 194167361, 611652164, 295464374, 243899097, 73634379, 813646417, 220762707, 712307286, 294388311, 799332453, 890577504, 133943907, 297446579, 225276523, 153772652, 783385197, 367288942, 448053871, 518787696, 544378302, 806216310, 325767800, 66527865, 254960250, 350907157, 322601600, 195129988, 611717768, 244507273, 310141719, 259404430, 143528592, 324649621, 296280730, 888109167, 926331128, 587744027, 341984192, 116641222, 332423281, 96342812, 157053610, 165638829, 445780654, 380457647, 314344118, 350835385, 37036731, 333845180, 295379645, 52171453, 140344779, 253940420, 769479365, 513696454, 243099712, 935460342, 272016074, 430605010, 233263828, 166347556, 350533754, 159720158, 476201697, 839709410, 101483235, 135738084, 109986538, 101522215, 274989805, 140428015, 929465072, 159630069, 154563318, 157041399, 968880888, 133878521, 147297022, 965124865, 153731843, 145494789, 160449286, 831910663, 968809260, 938550026, 279753483, 338268946, 500060947, 267838228, 125907735, 185762586, 484172571, 238957340, 308749085, 93385894, 414278433, 101262116, 387801894, 329880363, 888378156, 710800174, 315941679, 323588915, 765092660, 174641976, 218862394, 754257121, 231187264, 122086880, 887182146, 253578038, 86594374, 203121479, 369836872, 944199207, 143958858, 59225068, 404742990, 163775311, 251200312, 11723602, 221533015, 130548569, 845706076, 152568669, 121914206, 878642015, 754361184, 767669089, 475919203, 599159655, 286270314, 20244720, 815633262, 224727919, 265839474, 195842934, 277578616, 921723771, 281011071, 296186755, 367997832, 340464521, 298455947, 489239437, 89195407, 362496913, 636429203, 225092505, 134005661, 333501343, 369714081, 438546587, 306164644, 827841372, 115344199, 903639980, 193020479, 900469680, 157049672, 45085620, 202625973, 125277111, 985207736, 355058617, 276882364, 14668733, 148321216, 420697026, 315757507, 756522486, 172929991, 290976713, 864195531, 297300944, 362755027, 847176660, 889914190, 49669079, 933341348, 986846172, 928134109, 261922981, 578175970, 180301990, 149881681, 103194791, 294687724, 160662509, 860931054, 30725104, 909505524, 797213691, 425411580, 603268093, 754717694, 111653887, 595297280, 227292161, 239465474, 762975238, 456967176, 321885193, 504378378, 304636759, 796800012, 425096207, 94549014, 322696218, 221475867, 724497439, 290133027, 380163113, 151606317, 71758894, 313467951, 62616625, 189850674, 197219379, 153019444, 242019562, 780137530, 938460221, 79819842, 715580484, 343282757, 900817992, 239330380, 166720591, 339702866, 629318739, 234345208, 131150936, 999498842, 801326174, 251532383, 67318883, 424893862, 179954793, 278750314, 188101479, 590247020, 219157616, 470615153, 522417267, 894660275, 839050359, 928367738, 87700605, 306672777, 376312970, 152441996, 318006413, 947934061, 552748176, 314762385, 374146195, 97707163, 306836638, 215233698, 260125859, 380216485, 177407142, 124708008, 794592427, 166909100, 265700526, 334730050, 398652596, 850130101, 697562296, 246973630, 376693951, 343676097, 475116738, 817787083, 342926198, 907154399, 851743944, 252265677, 326288590, 964125915, 133080290, 540087524, 777156817, 622724647, 358094060, 105809133, 428963055, 271721714, 272426227, 218628820, 916911351, 127047892, 923055362, 156001546, 334697739, 959194382, 165047989, 982160659, 358999317, 203978009, 425432346, 772130078, 147572001, 167089445, 463648040, 849339692, 836326702, 183203121, 189703476, 395883401, 753173821, 271062336, 220562753, 256178973, 265254213, 918852934, 308041033, 572892491, 630367566, 429058957, 614524241, 167286104, 158635358, 610743648, 256431457, 301674726, 137323878, 909735272, 285064188, 426620270, 734360943, 55362929, 283129204, 734074579, 342343913, 271603064, 147170681, 736998781, 78947711, 818423174, 608454023, 118400394, 932906380, 276268431, 97633683, 390907287, 31462811, 900003228, 294499741, 287495583, 329786785, 304686498, 140518821, 147682728, 358729135, 796448176, 383903153, 288921011, 338591622, 271521207, 951772602, 218121042, 283141566, 52458947, 533235143, 39937481, 209491402, 760210891, 228337100, 190813648, 372162808, 371316178, 756544988, 247465439, 754247136, 319575522, 140058875, 147551716, 189881254, 986265062, 194196967, 944322026, 179250667, 971245038, 871368178, 951199315, 870348278, 320746999, 284399096, 277394939, 356478549, 786953736, 943662601, 194475532, 333313550, 413849104, 220145170, 338613789, 209749537, 586372643, 841745956, 150156838, 112285223, 160188040, 990370738, 574670382, 941000240, 169170483, 495928885, 412005944, 81094202, 915539516, 234677173, 529401410, 308250872, 765969991, 593036873, 274892363, 878638669, 720221774, 851424847, 312017848, 265528914, 236914275, 106074382, 247502424, 225261145, 863569502, 484181599, 411420259, 486721124, 93845096, 880301675, 345589356, 146166034, 219977326, 309245551, 769185392, 840121960, 314320500, 106374774, 426075771, 709465725, 329627263, 595592832, 978375616, 156083842, 900429443, 381819158, 317270977, 145102472, 925324908, 288115952, 125478509, 263419536, 571942545, 128945774, 283571862, 38041240, 83846816, 999126690, 956970661, 865363622, 245552809, 626385181, 445083251, 811374260, 147830453, 147502776, 822909215, 837482173, 243820223, 753514176, 246998721, 410242678, 254338758, 142005960, 279570121, 880138172, 223508172, 365164239, 434387235, 570173146, 572049686, 299488998, 96839399, 141108970, 879994615, 454715128, 156591865, 539055869, 971044607, 257357571, 144299966, 249747208, 609982219, 323999505, 337659666, 792520470, 369583895, 134147274, 718725939, 201160937, 586815260, 273495838, 757405478, 315103018, 218068780, 296474417, 294702729, 291591992, 322921439, 453900488, 9434942, 133662529, 966522690, 590333765, 915150663, 782227273, 167872330, 105230647, 158491618, 938702477, 634113441, 362391378, 737912659, 234256212, 315899534, 323385174, 944281436, 236574559, 867510112, 480728930, 329590627, 151050084, 105367399, 532567918, 938862447, 929083514, 812283761, 216008568, 162310009, 436045690, 194107711, 963389308, 139265919, 188561280, 106784643, 219391877, 363075463, 198890476, 900028934, 339384203, 281985346, 103678957, 938645392, 255993747, 914048918, 344090521, 295720860, 736098205, 15746974, 147212192, 106907553, 495298466, 340049661, 718354340, 309416262, 102942633, 139032492, 156506029, 253777838, 269014960, 363307336, 148290547, 414291896, 758581180, 784689086, 273393599, 320903739, 850970562, 388384708, 166501878, 357042122, 459250679, 192239568, 807697646, 206661587, 842651605, 436226006, 352843735, 414107608, 936761307, 147027932, 329287649, 288974820, 215142054, 103012327, 605747177, 265117351, 208615405, 81516526, 788146159, 223067017, 434269864, 360065011, 944285684, 168113833, 159201273, 726902779, 355162108, 613357064, 777564502, 140011527, 943884296, 447440907, 408914264, 368390845, 819181588, 939001877, 243882007, 754931736, 134531097, 218228766, 155576359, 508905512, 109881388, 319391792, 228943922, 149010483, 138348596, 139200566, 433768507, 129587263, 837023808, 935430209, 722364482, 329939018, 132737101, 258222161, 94812515, 807149924, 817850461, 203065438, 306833503, 594065508, 357427301, 192444527, 946886773, 106453111, 315476090, 400393919, 582097020, 163494020, 505464968, 66713738, 428230796, 220043406, 261245071, 290506899, 352233621, 108271772, 123545757, 129947806, 215062690, 627173540, 278075560, 294196584, 431102126, 286693555, 31365302, 185153719, 170793146, 296160287, 620865724, 293828797, 161010365, 371206338, 811542728, 318339274, 826480844, 107565051, 327649487, 448956624, 371964113, 278747348, 55220437, 323414232, 310389796, 229517534, 465062899, 279972071, 962844904, 165480681, 797767915, 360884464, 70281458, 226322675, 498084086, 755378424, 89016571, 941213948, 246040835, 288205060, 274153857, 943397135, 281127185, 804034835, 847558932, 89676054, 940972316, 350791386, 360735109, 966986017, 342358307, 282691878, 974715176, 342264107, 108026159, 627607859, 762698043, 604993855, 767117641, 149522762, 121633100, 787745102, 750860625, 125094226, 488335702, 108104024, 290543961, 807848282, 941377883, 939422778, 334448990, 222031589, 276404579, 148072166, 215562604, 272623984, 452106609, 158050674, 274372985, 214948222, 145723363, 319629696, 753998209, 295397762, 972142981, 801368455, 848876610, 240179598, 293976465, 891177368, 708592708, 852552092, 311550362, 253229470, 435481669, 842824096, 936958522, 816753060, 471153734, 159967656, 306788780, 71784886, 950487481, 459012541, 146954686, 266045888, 700707449, 157616590, 99391224, 915278292, 745389817, 760829007, 113519068, 861931997, 232872415, 275966437, 175426030, 878766575, 299674096, 604830193, 223193586, 164596213, 152046676, 336939514, 707938812, 240863744, 241277446, 482851338, 195631629, 919263758, 733005571, 708233749, 271718939, 147941917, 727222814, 710625824, 788072425, 874031650, 108363526, 374155814, 32660008, 215282778, 465947189, 527886906, 306293307, 833210940, 110320190, 758889025, 182325686, 400579145, 838081099, 576473680, 434723411, 106785364, 783141463, 915979364, 216169051, 877587040, 231933288, 289528419, 331537003, 274074220, 254863982, 450157672, 92367481, 843246206, 300804736, 147180161, 321387139, 979769992, 223224940, 229235347, 469654164, 293227157, 294541974, 720629749, 743227844, 261012123, 225530992, 342302461, 364870310, 241138344, 917281450, 783413028, 336829104, 125930161, 287730356, 341461693, 55900863, 946797248, 323406532, 78342853, 713415366, 712567496, 331463370, 287491191, 742893192, 52177613, 386276047, 153885394, 243514070, 230112377, 852527832, 914225881, 357616346, 504732379, 986917596, 328899293, 594766560, 618131962, 310029027, 574630629, 291146299, 258984683, 784706286, 766219389, 252988145, 396480979, 929069815, 894491384, 181709561, 342338301, 154540800, 226593537, 453696259, 972634886, 152533777, 160164627, 594766612, 166509333, 164903702, 768871193, 821422877, 747510565, 925109031, 368442156, 963898159, 287435569, 103123766, 51198775, 287149876, 885783356, 548750474, 728267582, 740670272, 591203147, 320244557, 320736080, 445806392, 288607062, 786963288, 539474777, 888118106, 303557467, 791665500, 926853986, 339192677, 303528806, 153435964, 477797229, 738823022, 111082356, 294890357, 173968248, 163502969, 385055613, 187485055, 305208192, 929319812, 330546053, 805514119, 760601481, 234097547, 103930765, 924167054, 342047634, 226187758, 738511766, 536242671, 325741469, 900508574, 881875440, 478731173, 315370406, 375344042, 817011629, 793607090, 111450444, 714460093, 111164350, 852065217, 136382283, 25553860, 272055239, 441584584, 497539183, 841817036, 138148815, 159534032, 85105655, 226462683, 309935068, 21803514, 283216865, 433322981, 965098470, 357098332, 501944828, 88899411, 433953783, 260860923, 248388604, 425933822, 253902677, 321252352, 167042049, 124103682, 824302600, 386419724, 71736722, 952347667, 141306910, 938172933, 128379936, 74959905, 258833444, 935930917, 236894044, 477621290, 147594285, 378772526, 485735472, 216374323, 327376734, 761998391, 888077368, 293768252, 221355069, 264531006, 437193793, 704764994, 185711683, 386018373, 941947974, 102739015, 503254088, 292441162, 543640652, 168614989, 362327119, 799242083, 631426132, 798825557, 164570071, 278756441, 327085150, 159075428, 99515495, 915299432, 713432174, 379640943, 283868273, 171379828, 918860308, 827075093, 580832386, 51723397, 910916742, 956177545, 116874386, 764021907, 426732692, 107940968, 799681692, 261287069, 484031646, 295636138, 764873903, 288517297, 144907443, 142012733, 124959052, 76640116, 724602042, 778977823, 831765693, 154069721, 244538452, 448306370, 938880195, 152444103, 227806410, 472149195, 229850319, 287329488, 304139482, 334585040, 159584851, 819172968, 227126506, 299384045, 827129070, 422423791, 180628720, 178728184, 410078458, 228687743, 353008893, 403994496, 475761925, 604462343, 103046410, 236408076, 180538637, 331103502, 282983701, 116276502, 100875543, 995806488, 340847903, 931921184, 120802593, 362552611, 272006436, 762683270, 760192294, 628849961, 585449351, 152042796, 218656047, 179238549, 335134002, 373568051, 759374388, 214822207, 623541568, 793955553, 783600969, 449199437, 903667029, 259018070, 263167320, 273339620, 373538140, 18971997, 904465758, 301378912, 101923387, 47148388, 170786149, 322477415, 889187688, 301989227, 289189228, 572370285, 339729774, 294301041, 855821683, 101449077, 818782100, 332901755, 306990461, 285089150, 291122559, 868134272, 287251843, 769755613, 332262790, 334302599, 148798858, 179985645, 159579536, 306589073, 392899986, 304053651, 765369582, 815693206, 141308484, 220339610, 219327899, 568155550, 113712545, 218095010, 222104998, 247887608, 863473065, 741129642, 722873773, 123522480, 626355638, 138075577, 276266430, 228277695, 723926465, 991792578, 234102214, 339803592, 371379659, 314125778, 782085590, 455110108, 950115950, 234282464, 770219489, 152813027, 286150122, 856911339, 225582573, 222571773, 847519216, 169197041, 819616339, 754851317, 256376310, 338198008, 236735997, 170217638, 81448875, 344339030, 320142855, 421260808, 336584201, 166886925, 222408208, 821440018, 253259284, 579186200, 124943900, 248536605, 54890014, 450840581, 331181614, 148016688, 218922545, 613125684, 234536504, 312442427, 141622845, 846642751, 484264544, 812990018, 766348868, 181276229, 93613640, 147594825, 817786442, 66317901, 251141714, 527765077, 253616057, 217706072, 401477209, 476704348, 276090463, 330694240, 178450017, 159022691, 45125220, 298020453, 69275239, 773205608, 473329257, 118382186, 534601323, 132943469, 819269230, 353631855, 333528691, 120938100, 314791870, 859786870, 239746679, 239496829, 314449538, 148406892, 928910988, 860200590, 416136848, 633302673, 294182546, 803581588, 412806810, 142036636, 537591456, 171867810, 352871863, 482905766, 825465457, 194739880, 624787113, 298929834, 428560048, 589516467, 150052532, 353550005, 625979067, 101367485, 365473470, 233660095, 152813249, 330465910, 264445642, 878399183, 162135761, 106086098, 404286732, 412463737, 101399844, 238165726, 249663199, 755481894, 895454951, 288000909, 411064560, 185169192, 236443603, 282152692, 311496438, 476086009, 780304124, 796798717, 342114048, 225088128, 485379371, 150986500, 941338374, 155307568, 786513674, 66645671, 156679956, 581066517, 329625372, 224640802, 586809124, 931667750, 795959080, 841682908, 533536556, 287584045, 334192431, 389652275, 526458676, 614068021, 350224188, 993185597, 944226110, 193879875, 462352198, 180698952, 283799369, 163286867, 887799636, 777958030, 372916058, 347250524, 276471646, 63703013, 635805537, 78843752, 876789610, 950278803, 399478640, 300277618, 146041491, 152047476, 163049334, 332799977, 612625044, 136255136, 338640397, 333999999, 174415744, 294837568, 819584619, 19869574, 715181959, 405692297, 828020555, 162417303, 250912657, 710078356, 315740054, 972451742, 246486342, 172795889, 610832296, 756596649, 110804295, 285101999, 165314481, 334139315, 154451555, 806973368, 367738612, 893583290, 355155899, 907489214, 288395199, 426061762, 398540741, 414234615, 229523404, 615981012, 789462997, 913846233, 294858716, 223989726, 198172639, 308041723, 910741477, 895568602, 612191649, 292583664, 188679030, 550121465, 462282747, 285855742))