In [1]:
import networkx as nx
import pandas as pd
import json
from networkx.readwrite import json_graph
import itertools

In [2]:
fb_df = pd.read_csv('datasets/sehir_fb_matches2.csv', index_col="fb_ID")
print(fb_df.shape)
fb_df.head()

(2746, 3)

,full_name,sehir_matches,membership
fb_ID,,,
1719024661487920,aykut sahin,aykut sahin,Sehir Dersler&Hocalar
2054872011195704,ahmed el bhiri,ahmed bhiri,Sehir Dersler&Hocalar
10210680285591082,sevva deniz bulut,sevva deniz bulut,Sehir Dersler&Hocalar
10155572985146137,seval kavsut guleryuz,seval guleryuz,Sehir Dersler&Hocalar
10215188262249069,malik ekicim,malik ismail ekicim,Sehir Dersler&Hocalar

In [43]:
## Discarding Sehir Dersler&Hocalar
fb_df = fb_df[fb_df.membership != "Sehir Dersler&Hocalar"]
fb_df = fb_df[fb_df.membership != "Sehir Duyuru"]
fb_df.head()

                           full_name    sehir_matches              membership
fb_ID
10155959451848548       aysenur eser     aysenur eser       Sehir Muhendislik
10204105757400683    anl yasin ozkan   yasin caliskan         Sehir Mezunlari
1158523860950154     oguzhan sagoglu  oguzhan sagoglu         Sehir Mezunlari
1537874303000756          oktay akar    oktay karakoc  Sehir Lessons&Teachers
1604454092970468   ahmed mohie eddin  amer nour eddin       Sehir Muhendislik

In [125]:
df_by_group = fb_df.reset_index().set_index("membership")

In [126]:
g = fb_df.groupby("membership").count()
groups = list(g.index)

In [127]:
G = nx.Graph()
users_ids = dict()  # user name > id
ids_users = dict()  # user id > name
edges_values = dict()  # {(from, to): streangth}

In [147]:
list(df_by_group.loc["Sehir Muhendislik"]["fb_ID"])

[10155959451848548,
 1604454092970468,
 1969509319729051,
 1844885455772164,
 360244767719265,
 769153509959215,
 910830722417581,
 10216013491838477,
 792704087568359,
 1797189933648857,
 1826652530687200,
 10208493896464155,
 1566763543410694,
 1673312749396297,
 1994511650809611,
 2000402553534706,
 10211200672308803,
 10216026834050177,
 1715244715201442,
 10157048378379863,
 1594010907302678,
 10156033016467103,
 526055684444241,
 1734068939990594,
 1801401966537900]

In [128]:
for group in groups:
    members = list(df_by_group.loc[group]["fb_ID"])
    for f_, t_ in itertools.product(members, members):
        if f_ != t_:
            
            users_ids.setdefault(f_, len(users_ids))
            ids_users[users_ids[f_]] = f_
            
            users_ids.setdefault(t_, len(users_ids))
            ids_users[users_ids[t_]] = t_
            f = users_ids[f_]
            t = users_ids[t_]
            if (f, t) in edges_values or (t, f) in edges_values:
                try:
                    edges_values[(f,t)]["value"] += 1
                except KeyError:
                    edges_values[(t,f)]["value"] += 1
            else:
                edges_values.setdefault((f, t), {"value": 1})
                G.add_edge(f_, t_)

In [129]:
G.number_of_nodes(), G.number_of_edges()

(99, 1636)

In [130]:
for ix in list(G.nodes()):
    sehir_name = ids_users[ix]
    G.node[ix]["sehir name"] = df_by_ix.loc[ix]["sehir_matches"]
    G.node[ix]["fb name"] = df_by_ix.loc[ix]["full_name"]
    G.node[ix].setdefault("group", {})
    G.node[ix]["group"][df_by_ix.loc[ix]["membership"]] = 1
for ix in list(G.nodes()):
    G.node[ix]["group"] = ", ".join(list(G.node[ix]["group"].keys()))

In [135]:
list(G.nodes(data=True))[0]

(0,
 {'fb name': 'aysenur eser',
  'group': 'Sehir Muhendislik',
  'sehir name': 'aysenur eser'})

In [136]:
nx.set_edge_attributes(G, edges_values)

In [137]:
list(G.edges(data=True))[0]

(0, 1, {'value': 1})

In [138]:
data = nx.node_link_data(G)
with open('fb_users_by_groups.json', 'w') as f:
    json.dump(data, f, indent=4)