In [32]:
import psycopg2

import pandas as pd
import numpy as np

from copy import deepcopy

import ast

import networkx as nx

import itertools

from fuzzywuzzy import fuzz
from fuzzywuzzy import process

from joblib import Parallel, delayed

In [2]:
connection = psycopg2.connect('dbname=link_formation host=localhost user=postgres password=1_sehir_1')

twitter_users = pd.read_sql("SELECT * FROM twitter_user", connection)

user_connections = pd.read_sql("SELECT * FROM twitter_connection", connection).drop('id', axis=1)

In [4]:
twitter_users.sample(5)

,id,name,screen_name,lang,match_name,match_ratio,followers_count,friends_count
19646,535425870,Aykut Kurt,AykutKurt13,tr,Aykut Ucar,67,97,122
8905,706425190,Büsra,Bsrayrkcglu,tr,Busra Yorukcuoglu,79,261,290
12447,1007383164,osman urper,osmanurper,tr,Osman Nurettin Sen,72,260,249
22147,2962557225,Abdullah Demir,a_demirr55,tr,Kadem,72,139,273
2584,926331128100937728,Murat Demirci,MuratDe49231258,tr,Murat Er,68,2,100

In [5]:
twitter_users = pd.read_sql("SELECT * FROM twitter_user", connection)
twitter_users = twitter_users.where(twitter_users.match_name.str.len()>6)\
                             .where(~twitter_users.name.str.contains("(?i)sehir"))\
                             .dropna().set_index("id")
#         .where(twitter_users.match_ratio>85)
twitter_users.sample(5)

,name,screen_name,lang,match_name,match_ratio,followers_count,friends_count
id,,,,,,,
3.955128e+09,esra,esrakpk1,tr,Esra Kucuk,67.0,5.0,131.0
1.858418e+09,Burak,BurakErenTR,tr,Burak Eren,86.0,308.0,256.0
1.498686e+09,Gevrek Gündem,canozcan22,tr,Selin Banu Ozcan,63.0,466.0,3580.0
3.972518e+08,z e y n e p,zeynpchn,tr,Zeynep Cihan,80.0,141.0,223.0
9.289916e+17,Samet Ay,SametAy93763453,tr,! Some,68.0,0.0,94.0

In [6]:
truncate = lambda x: int(str(int(x))[:9])

In [7]:
resetted = twitter_users.reset_index()
index = resetted.id.apply(truncate)
resetted.rename(columns={"id":"tw_id"}, inplace=True)
resetted.index = index

twitter_users = resetted
twitter_users.sample(5)

,tw_id,name,screen_name,lang,match_name,match_ratio,followers_count,friends_count
id,,,,,,,,
504378378,5.043784e+08,Mustafa Zengin,mustafazengins,tr,Mustafa Talip Zengin,76.0,218.0,237.0
378779702,3.787797e+08,Rukiye YOLDAŞ,rukiyeyolds,tr,Rukiye Aydin,70.0,50.0,62.0
720976032,7.209760e+08,Bekir G. Çekirge,bahadirbektas61,tr,Ahmet Bahadir Bektas,74.0,139.0,176.0
427666672,4.276667e+08,Melis,degisiikinsann,tr,! Isif,68.0,614.0,1002.0
159950817,1.599508e+09,7den70eNano,7den70eNano,tr,! Dekan,54.0,41.0,98.0

In [43]:
import time

In [63]:
def clean(name, min_len=5, junk_replacement=''):
    try:
        cleaned = unicodedata.normalize('NFKD', name).encode('ascii', 'ignore').lower().decode("ascii")
    except TypeError:
        return junk_replacement
    if len(cleaned) < min_len:
        return junk_replacement
    return cleaned

def get_matches_edit_distance(item, choices, limit, scorer=fuzz.token_sort_ratio):
    return process.extract(item, choices, limit=limit, scorer=scorer)
counter = 0
def get_sehir_twitter_matches(twitter_users, sehir_directory, limit=1):
    global fullnames, counter
    twitter_user_by_screen_name = twitter_users.set_index('screen_name')
    start = time.time()
    for screen_name in twitter_users['screen_name']:
        twitter_name = twitter_user_by_screen_name.loc[screen_name]['name']
        match_name = get_matches_edit_distance(twitter_name, fullnames, limit)
        counter += 1
        if counter %100 == 0:
            print(counter, "out of ", len(twitter_users))
            start_ = time.time()
            print(start_-start, "seconds")
            start = start_
        yield (screen_name, match_name)
        
def filter_matches_by_threshold(matches_dict, threshold=85):
    filtered_dict = dict()
    for screen_name, matches in matches_dict.items():
        filtered = [(match, score) for match, score in matches if score > threshold]
        
        if filtered:
            filtered_dict[screen_name] = filtered
        
    return filtered_dict

def get_matches_dataframe(twitter_users, sehir_directory, threshold=85, limit=1):
    matches = {screen_name : match_name for screen_name, match_name in 
               get_sehir_twitter_matches(twitter_users, sehir_directory, limit=limit)}
    
    filtered_matches = filter_matches_by_threshold(matches, threshold=threshold)
    screen_names = filtered_matches.keys()
    return pd.DataFrame({'screen_name': list(screen_names),
                         'match_name': [filtered_matches[screen_name] for screen_name in screen_names]})

In [64]:
sehir_directory = pd.read_csv('../datasets/contacts.csv', 
                               encoding = "ISO-8859-1", 
                               usecols=['First Name', 'Last Name', 'Primary Email'])
sehir_directory.replace(np.nan, '', regex=True, inplace=True)

In [65]:
fullnames = [' '.join(first_last_name).lower() 
                 for first_last_name in sehir_directory[['First Name', 'Last Name']].values]

In [66]:
start = time.time()
sehir_matches = Parallel(n_jobs=-1)(delayed(get_matches_dataframe)(
    twitter_users[int(i*(len(twitter_users)/8)):int((i+1)*(len(twitter_users)/8))],
    sehir_directory) for i in range(8))
print("took: ", time.time()-start)

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '❌❌❌❌❌❌❌❌❌']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '♕♡']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '..']

100 out of  2607
17.601778984069824 seconds
100 out of  2607
17.979655981063843 seconds
100 out of  2607
18.0801682472229 seconds
100 out of  2607
18.159130811691284 seconds
100 out of  2607
18.274653673171997 seconds
100 out of  2607
18.388170957565308 seconds
100 out of  2607

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']

19.683095455169678 seconds
100 out of  2606
20.11982250213623 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '~']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '?']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '-']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '...']

200 out of  2607
18.50369381904602 seconds
200 out of  2607
18.751721382141113 seconds
200 out of  2607
18.925511598587036 seconds
200 out of  2607
19.635064601898193 seconds
200 out of  2607
19.997876405715942 seconds
200 out of  2607
19.642518043518066 seconds
200 out of  2607
18.974292993545532 seconds
200 out of  2606
18.664579153060913 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '&']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']

300 out of  2607
18.837618589401245 seconds
300 out of  2607
18.51528811454773 seconds
300 out of  2607
18.670929670333862 seconds
300 out of  2607
18.36874222755432 seconds
300 out of  2607
18.477618932724 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']

300 out of  2606
18.260138988494873 seconds
300 out of  2607
19.428550004959106 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '...']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '~']

300 out of  2607
19.209506034851074 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '🌿']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.....']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: 'Ⓝⓘⓝⓞ']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '🦋']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '☾']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '😃']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']

400 out of  2607
18.26480221748352 seconds
400 out of  2607
18.251703023910522 seconds
400 out of  2607
18.222472190856934 seconds
400 out of  2607
18.77705216407776 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']

400 out of  2607
18.791274070739746 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '-']

400 out of  2607
18.942397117614746 seconds
400 out of  2606
19.048925399780273 seconds
400 out of  2607
18.55292773246765 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '-']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '....']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '///////']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '💙']

500 out of  2607
19.126152753829956 seconds
500 out of  2607
18.321242809295654 seconds
500 out of  2607
19.573856592178345 seconds
500 out of  2607
19.29475164413452 seconds
500 out of  2607
19.30411958694458 seconds
500 out of  2607
18.133468627929688 seconds
500 out of  2607
18.92292284965515 seconds
500 out of  2606
18.925984382629395 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '☁']

600 out of  2607
18.992857217788696 seconds
600 out of  2607
19.386595010757446 seconds
600 out of  2607
19.287845373153687 seconds
600 out of  2607
600 out of  2607
19.945143222808838 seconds
19.608407258987427 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']

600 out of  2607
19.79609775543213 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']

600 out of  2606
19.647539138793945 seconds
600 out of  2607
19.782474040985107 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '👁']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '!!!']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '-']

700 out of  2607
18.29442834854126 seconds
700 out of  2607
18.640382289886475 seconds
700 out of  2607
18.565898418426514 seconds
700 out of  2607
17.880581378936768 seconds
700 out of  2607
17.971168518066406 seconds
700 out of  2606
17.804824590682983 seconds
700 out of  2607
18.820051670074463 seconds
700 out of  2607
17.980276107788086 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '⭐☀']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '☁']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '..']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '-']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '🌙']

800 out of  2607
18.25684094429016 seconds
800 out of  2607
18.034735202789307 seconds
800 out of  2607
18.712382316589355 seconds
800 out of  2607
18.54503083229065 seconds
800 out of  2606
17.69546604156494 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']

800 out of  2607
17.878977298736572 seconds
800 out of  2607
17.948001623153687 seconds
800 out of  2607
18.868534803390503 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '…']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.....']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.....']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']

900 out of  2607
18.362433433532715 seconds
900 out of  2607
17.988468170166016 seconds
900 out of  2606
18.122073888778687 seconds
900 out of  2607
18.5509033203125 seconds
900 out of  2607
18.94234037399292 seconds
900 out of  2607
18.068663835525513 seconds
900 out of  2607
17.69741463661194 seconds
900 out of  2607
19.02702832221985 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '...']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '🌹']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '🐧']

1000 out of  2607
18.38359808921814 seconds
1000 out of  2606
17.752562522888184 seconds
1000 out of  2607
19.00369930267334 seconds
1000 out of  2607
18.037434816360474 seconds
1000 out of  2607
18.46794080734253 seconds
1000 out of  2607
18.30044674873352 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']

1000 out of  2607
19.016515731811523 seconds
1000 out of  2607
18.63906192779541 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '🎬☕']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '???']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '✈️']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '💫']

1100 out of  2607
18.264430284500122 seconds
1100 out of  2606
17.65688991546631 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '....']

1100 out of  2607
17.803961992263794 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '...']

1100 out of  2607
17.918266534805298 seconds
1100 out of  2607
17.88193941116333 seconds
1100 out of  2607
18.547052145004272 seconds
1100 out of  2607
18.834577560424805 seconds
1100 out of  2607
19.770782232284546 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '*-*']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '*']

1200 out of  2606
17.73782205581665 seconds
1200 out of  2607
18.32061243057251 seconds
1200 out of  2607
17.8209331035614 seconds
1200 out of  2607
18.27237820625305 seconds
1200 out of  2607
17.820871591567993 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '......']

1200 out of  2607
18.163027048110962 seconds
1200 out of  2607
19.238821029663086 seconds
1200 out of  2607
19.123322248458862 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '🍀']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '...']

1300 out of  2606
18.676377296447754 seconds
1300 out of  2607
18.389013051986694 seconds
1300 out of  2607
19.016536712646484 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '-']

1300 out of  2607
19.52384042739868 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '....']

1300 out of  2607
19.061097860336304 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '🎈']

1300 out of  2607
20.062785148620605 seconds
1300 out of  2607
19.548556804656982 seconds
1300 out of  2607
19.738104343414307 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '💙💖💚💛💜']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '....']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '...']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']

1400 out of  2606
18.093520641326904 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']

1400 out of  2607
18.38483452796936 seconds
1400 out of  2607
19.21505379676819 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '...']

1400 out of  2607
18.65570306777954 seconds
1400 out of  2607
18.839444160461426 seconds
1400 out of  2607
18.88334560394287 seconds
1400 out of  2607
18.324923038482666 seconds
1400 out of  2607
19.03600835800171 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '-']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '...']

1500 out of  2606
19.607434511184692 seconds
1500 out of  2607
18.03382158279419 seconds
1500 out of  2607
19.4196994304657 seconds
1500 out of  2607
18.54140615463257 seconds
1500 out of  2607
19.13676619529724 seconds
1500 out of  2607
19.273595571517944 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '...']

1500 out of  2607
18.39806890487671 seconds
1500 out of  2607
18.48033356666565 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: ',']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '•']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: ':::']

1600 out of  2607
18.585228443145752 seconds
1600 out of  2606
18.985143184661865 seconds
1600 out of  2607
18.750675916671753 seconds
1600 out of  2607
18.879899501800537 seconds
1600 out of  2607
18.837127447128296 seconds
1600 out of  2607
18.498170375823975 seconds
1600 out of  2607
18.89079976081848 seconds
1600 out of  2607
18.687073469161987 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '📎📝']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '&']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '🌍']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '---']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']

1700 out of  2607
18.626246690750122 seconds
1700 out of  2607
18.618980407714844 seconds
1700 out of  2606
19.01197600364685 seconds
1700 out of  2607
18.467183351516724 seconds
1700 out of  2607
17.80379319190979 seconds
1700 out of  2607
18.49267816543579 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '•']

1700 out of  2607
18.246891736984253 seconds
1700 out of  2607
19.62067437171936 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']

1800 out of  2607
17.893614530563354 seconds
1800 out of  2606
17.991312742233276 seconds
1800 out of  2607
19.095197200775146 seconds
1800 out of  2607
18.94851565361023 seconds
1800 out of  2607
18.780385494232178 seconds
1800 out of  2607
19.191673517227173 seconds
1800 out of  2607
18.462826013565063 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']

1800 out of  2607
18.867945194244385 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: ':-)']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']

1900 out of  2607
18.4413104057312 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '🌦🌦🌦']

1900 out of  2606
19.19005513191223 seconds
1900 out of  2607
18.829771757125854 seconds
1900 out of  2607
18.905718088150024 seconds
1900 out of  2607
18.583195686340332 seconds
1900 out of  2607
18.701343536376953 seconds
1900 out of  2607
19.351768970489502 seconds
1900 out of  2607
18.88402223587036 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '🍎']

2000 out of  2607
18.555516481399536 seconds
2000 out of  2606
18.16269087791443 seconds
2000 out of  2607
18.31580877304077 seconds
2000 out of  2607
18.696837186813354 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '?']

2000 out of  2607
17.898046493530273 seconds
2000 out of  2607
18.790157556533813 seconds
2000 out of  2607
18.824148416519165 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '🎼🎵🎶🎵🎼🎵🎶']

2000 out of  2607
18.572276830673218 seconds
2100 out of  2607
18.479661226272583 seconds
2100 out of  2606
18.591996431350708 seconds
2100 out of  2607
18.394065618515015 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']

2100 out of  2607
18.918586254119873 seconds
2100 out of  2607
18.782835483551025 seconds
2100 out of  2607
18.988621950149536 seconds
2100 out of  2607
19.08047127723694 seconds
2100 out of  2607
19.178890466690063 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '@**!!#:']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']

2200 out of  2607
19.33840298652649 seconds
2200 out of  2606
19.712522268295288 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '☁']

2200 out of  2607
19.993552684783936 seconds
2200 out of  2607
19.881781101226807 seconds
2200 out of  2607
19.311137676239014 seconds
2200 out of  2607
19.12686252593994 seconds
2200 out of  2607
20.547650814056396 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '🇴 🇸 🇲 🇦 🇳']

2200 out of  2607
19.813966989517212 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']

2300 out of  2607
18.960391759872437 seconds
2300 out of  2606
18.4914231300354 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '-']

2300 out of  2607
19.177921533584595 seconds
2300 out of  2607
19.451819896697998 seconds
2300 out of  2607
19.37364673614502 seconds
2300 out of  2607
18.622823476791382 seconds
2300 out of  2607
19.29547381401062 seconds
2300 out of  2607
20.072364330291748 seconds
2400 out of  2606
18.099098920822144 seconds
2400 out of  2607
18.786582231521606 seconds
2400 out of  2607
19.119632959365845 seconds
2400 out of  2607
18.411205291748047 seconds
2400 out of  2607
19.12824034690857 seconds
2400 out of  2607
18.94279146194458 seconds
2400 out of  2607
19.39888620376587 seconds
2400 out of  2607
19.009617567062378 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '....']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '...']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '..']

2500 out of  2607
18.21216058731079 seconds
2500 out of  2606
18.455554485321045 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '🤸🏻‍♀️']

2500 out of  2607
19.55046534538269 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '✨']

2500 out of  2607
18.540338039398193 seconds
2500 out of  2607
18.581695556640625 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '🐡']

2500 out of  2607
19.281773328781128 seconds
2500 out of  2607
18.590744018554688 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '......']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']

2500 out of  2607
19.140007734298706 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '...']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '-']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.....']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.......']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']

2600 out of  2606
19.329821586608887 seconds
2600 out of  2607
19.440301179885864 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '◼️']

2600 out of  2607
18.718732595443726 seconds
2600 out of  2607
18.349258184432983 seconds

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '.']

2600 out of  2607
19.233174324035645 seconds
2600 out of  2607
18.336395740509033 seconds
2600 out of  2607
17.82541561126709 seconds
2600 out of  2607
16.10215926170349 seconds
took:  491.66715931892395

In [69]:
sehir_matches_df = pd.concat(sehir_matches)
sehir_matches_df.index = range(len(sehir_matches_df))
print("There are {} matches".format(len(sehir_matches_df)))
sehir_matches_df.sample(5)

There are 2089 matches

                 match_name    screen_name
1117   [(sinan yavuz, 100)]   Sinan53Yavuz
1196  [(zeynep ulusan, 92)]        UlusalZ
784      [(yasir bali, 90)]       A_AliJnr
754     [(fatma seker, 86)]  FatimaFtmanur
1885  [(gulcin kayhan, 96)]    GulinKayhan

In [70]:
sehir_matches_df.match_name = sehir_matches_df.match_name.apply(lambda x: x[0][0])
sehir_matches_df.sample(10)

               match_name     screen_name
660              omer can    mertcantwitt
542          esra balanli    balanli_esra
786          mehmet demir       mdemir_61
1628          aysel mutlu     Ayse__Mutlu
1502              ! tarih      tarihdergi
109   omer faruk karakaya    KarakulaOmer
1315         seyma arslan         eseyman
1109        elyesa turgut    elyesaturgut
864       abdullah mursel  AbdullahMursel
1970    abdurrahman yavuz          ayvz25

In [87]:
tu=twitter_users.drop(["match_name","match_ratio"], axis=1)

In [110]:
twitter_users = sehir_matches_df.merge(tu, on="screen_name")
index = twitter_users.tw_id.apply(truncate)
twitter_users.index = index
twitter_users.sample(5)

,match_name,screen_name,tw_id,name,lang,followers_count,friends_count
tw_id,,,,,,,
291820987,serkan akcay,serkankocaa,2.918210e+09,Serkan KOCA,tr,1042.0,707.0
249663199,derya guven,deryaguvenn,2.496632e+09,Derya Güven,tr,88.0,125.0
147551716,samet sevgi,SametSvg,1.475517e+09,Samet Sevgi,en,13.0,72.0
306589073,ayhan yilmaz,TweetAyhan,3.065891e+09,Ayhan Yilmaz,en,35.0,289.0
233713046,merve kandemir,Mrve_Dmr1453,2.337130e+09,Merve Demir,tr,46.0,317.0

In [111]:
twitter_users.to_csv("../datasets/twitter_users.csv", index_label="id")

## Construct the network

In [112]:
G = nx.DiGraph()
for _, row in user_connections.iterrows():
    from_ = truncate(row["from_user_id"])
    to = truncate(row["to_user_id"])
    if from_ in twitter_users.index and to in twitter_users.index:
        G.add_edge(from_, to)

In [113]:
import unicodedata
augs = ["name", "screen_name","match_name", "followers_count","friends_count"]
for node in G.nodes():
    user = twitter_users.loc[node]
    for aug in augs:
        if type(user[aug])==str:
            m = clean(user[aug])
        else:
            m = user[aug]
        G.nodes[node][aug] = m

In [114]:
len(G.nodes())

238

In [115]:
len(G.edges())

291

In [116]:
for ix,deg in G.degree(G.nodes()):
    G.node[ix]['degree'] = deg
    G.node[ix]['parity'] = (1-deg%2)
    
for ix,in_deg in G.in_degree(G.nodes()):
    G.node[ix]['in_degree'] = in_deg
    
for ix,out_deg in G.out_degree(G.nodes()):
    G.node[ix]['out_degree'] = out_deg

In [117]:
evc = nx.eigenvector_centrality(G)
closeness = nx.closeness_centrality(G)
betweenness = nx.betweenness_centrality(G)
pagerank = nx.pagerank(G)

In [118]:
metrics = {"eigenvector_centrality":evc,
           "closeness_centrality":closeness,
          "betweenness":betweenness,
          "pagerank":pagerank}

In [125]:
for metric_name, metric in metrics.items():
    for ix,v in metric.items():
        G.nodes[ix][metric_name] = v

In [130]:
G.nodes[595297280]

{'betweenness': 0.0,
 'closeness_centrality': 0.0,
 'degree': 1,
 'eigenvector_centrality': 8.290679621515326e-35,
 'followers_count': 71.0,
 'friends_count': 310.0,
 'in_degree': 0,
 'match_name': 'ayhan turkoglu',
 'name': 'talha turkoglu',
 'out_degree': 1,
 'pagerank': 0.0008750669358888037,
 'parity': 0,
 'screen_name': 'talha_turkoglu'}

In [120]:
list(G.nodes(data=True))[0]

(595297280,
 {'betweenness': 0.0,
  'closeness_centrality': 0.0,
  'degree': 1,
  'eigenvector_centrality': 8.290679621515326e-35,
  'followers_count': 71.0,
  'friends_count': 310.0,
  'in_degree': 0,
  'match_name': 'ayhan turkoglu',
  'name': 'talha turkoglu',
  'out_degree': 1,
  'pagerank': 0.0008750669358888037,
  'parity': 0,
  'screen_name': 'talha_turkoglu'})

In [122]:
import json
from networkx.readwrite import json_graph
data = nx.node_link_data(G)
with open('../REST/static/networks/twitter_users_graph2.json', 'w') as f:
    json.dump(data, f, indent=4)