In [117]:
import pandas as pd

In [118]:
df = pd.DataFrame()
# df.columns=["from","to","hello"]
df

Empty DataFrame
Columns: []
Index: []

In [119]:
df = df.append({"from_":2,"to":3,"hello":4}, ignore_index=True)
df = df.append({"from_":1,"to":2,"hello":5}, ignore_index=True)

In [120]:
df

   from_  hello   to
0    2.0    4.0  3.0
1    1.0    5.0  2.0

In [121]:
c = df[(df.from_==1.0) & (df.to==2.0)]
c

   from_  hello   to
1    1.0    5.0  2.0

In [122]:
c

   from_  hello   to
1    1.0    5.0  2.0

In [125]:
# for i in c.index:
df.loc[0].hello

4.0

In [124]:
df

   from_  hello   to
0    2.0    4.0  3.0
1    1.0    5.0  2.0

In [133]:
random_connections = pd.DataFrame(columns=["from_","to","date"])
random_connections

Empty DataFrame
Columns: [from_, to, date]
Index: []