In [48]:
import pandas as pd

In [79]:
df = pd.DataFrame()
# df.columns=["from","to","hello"]
df

Empty DataFrame
Columns: []
Index: []

In [80]:
df = df.append({"from_":2,"to":3,"hello":4}, ignore_index=True)

In [61]:
df

   from_  hello   to
0    2.0    4.0  3.0

In [70]:
f1 = df[df.from_==2.0]
f2 = f1[f1.to==3.0]
f2

   from_  hello   to
0    2.0    4.0  3.0

In [82]:
df.loc[(df.from_==2.0) & (df.to==3.0)]

Empty DataFrame
Columns: [from_, hello, to]
Index: []