In [37]:
from SehirParser import *
import ast

In [38]:
df = pd.read_csv("datasets/fb_users2.csv", index_col="Unnamed: 0")
df.head()

,id,title,membership,first_name,middle_name,last_name,nick_name,full_name
0,532625750441045,NaN,Sehir Dersler&Hocalar,ecenur,NaN,temelli,NaN,ecenur temelli
1,388277361642482,NaN,Sehir Dersler&Hocalar,ahmet,selman,kus,NaN,ahmet selman kus
2,2063118013923420,NaN,Sehir Dersler&Hocalar,aysecan,NaN,gurbuzler,NaN,aysecan gurbuzler
3,197256327682579,NaN,Sehir Dersler&Hocalar,ask,NaN,ihya,NaN,ask ihya
4,324997921353280,NaN,Sehir Dersler&Hocalar,farhana,NaN,zakaria,NaN,farhana zakaria

In [39]:
df.groupby("membership").count()

,id,title,first_name,middle_name,last_name,nick_name,full_name
membership,,,,,,,
Sehir Dersler&Hocalar,2346,1,2341,506,2341,0,2341
Sehir Duyuru,309,1,305,61,306,0,306
Sehir Lessons&Teachers,39,0,39,10,39,0,39
Sehir Mezunlari,35,1,35,7,34,0,35
Sehir Muhendislik,25,0,25,3,25,0,25

In [40]:
# df.head(10).to_csv("datasets/fb_users_toy.csv")

In [41]:
cols = {"id":"id", "name":"full_name", "screen_name":"full_name"}
s = SehirParser('datasets/contacts.csv', "datasets/fb_users2.csv", cols)

In [42]:
s.twitter_users_count

2754

In [104]:
fb_df, sehir_matches_df = s.get_sehir_matches_df()

/home/ammar/Sehir_Network_Analysis/SehirParser.py:53: UserWarning: NaN name
  warnings.warn("NaN name")
/home/ammar/Sehir_Network_Analysis/SehirParser.py:53: UserWarning: NaN name
  warnings.warn("NaN name")
/home/ammar/Sehir_Network_Analysis/SehirParser.py:53: UserWarning: NaN name
  warnings.warn("NaN name")
/home/ammar/Sehir_Network_Analysis/SehirParser.py:53: UserWarning: NaN name
  warnings.warn("NaN name")
/home/ammar/Sehir_Network_Analysis/SehirParser.py:53: UserWarning: NaN name
  warnings.warn("NaN name")

In [97]:
sehir_matches_df.head()

               full_name                sehir_matches
0            aykut sahin         [(aykut sahin, 100)]
1         ahmed el bhiri          [(ahmed bhiri, 88)]
2      sevva deniz bulut   [(sevva deniz bulut, 100)]
3  seval kavsut guleryuz       [(seval guleryuz, 80)]
4           malik ekicim  [(malik ismail ekicim, 77)]

In [99]:
len(sehir_matches_df)

2720

In [105]:
fb_df["sehir_matches"] = fb_df["sehir_matches"].apply(lambda x: x[0][0])
fb_df = fb_df.rename(columns={"GUID":"fb_ID"}).set_index("fb_ID")
fb_df = fb_df[["full_name","sehir_matches","membership"]]
fb_df.head()

,full_name,sehir_matches,membership
fb_ID,,,
1719024661487920,aykut sahin,aykut sahin,Sehir Dersler&Hocalar
2054872011195704,ahmed el bhiri,ahmed bhiri,Sehir Dersler&Hocalar
10210680285591082,sevva deniz bulut,sevva deniz bulut,Sehir Dersler&Hocalar
10155572985146137,seval kavsut guleryuz,seval guleryuz,Sehir Dersler&Hocalar
10215188262249069,malik ekicim,malik ismail ekicim,Sehir Dersler&Hocalar

In [106]:
fb_df.to_csv('datasets/sehir_fb_matches2.csv', index_label="fb_ID")

In [121]:
len(fb_df)

2746

In [122]:
fb_df.groupby("sehir_matches").count().shape

(2506, 2)

In [107]:
twitter_matches_by_guid = pd.read_csv('datasets/sehir_matches.csv', index_col="GUID.1").drop("GUID", axis=1)
twitter_matches_by_guid["sehir_matches"] = twitter_matches_by_guid["sehir_matches"].apply(lambda x: ast.literal_eval(x)[0][0])
twitter_matches_by_guid = twitter_matches_by_guid.drop("twitter_name",axis=1).reset_index()\
                                .rename(columns={
                                    "cleaned_twitter_name":"twitter_name",
                                    "GUID.1":"twitter_ID"}).set_index("twitter_ID")
twitter_matches_by_guid.head()

,sehir_matches,twitter_screen_name,profile_description,followers_count,friends_count,favourites_count,statuses_count,lang,twitter_name
twitter_ID,,,,,,,,,
294557248,mustafa demir,mustafedemir,BEDEN EĞİTİMİ ÖĞRETMENİ \nAli Akkanat Anadolu ...,45,53,349,261,tr,mustafa demir
3410655087,melisa yalin,selambenmelissa,gizlilikten dolayı fotoğraf yayınlamıyorum,115870,514,117,495,tr,melissa yanc
2996348915,mustafa durdu,dundar_mstf,NaN,869,306,3669,302,tr,mustafa dundar
89203798,ahmet karanfil,AhmetMaranki,Prof. Dr. Ahmet Maranki'nin çalışmalarının yay...,4762,28,0,0,tr,ahmet maranki
239841117,derya genc,bayan_sukela,"Büyük adam olmana lüzum yok, sadece adam ol ye...",567,70,1,2615,tr,derya e.

In [123]:
twitter_matches_by_guid.groupby("sehir_matches").count().shape

(2235, 8)

In [138]:
twitter_fb = twitter_matches_by_guid.reset_index().merge(fb_df.reset_index(), left_on="sehir_matches", right_on="sehir_matches")
twitter_fb.head()

,twitter_ID,sehir_matches,twitter_screen_name,profile_description,followers_count,friends_count,favourites_count,statuses_count,lang,twitter_name,fb_ID,full_name,membership
0,185410794,muhammed caki,m_sysL,iühf 🐎,349,323,1852,7807,tr,muhammed mucahit,10211725757681071,muhammed cak,Sehir Dersler&Hocalar
1,849869543522656256,muhammed caki,Muhamme74015968,Haber Gündem Spor Futbol Müzik,2,57,1,7,tr,muhammed ali,10211725757681071,muhammed cak,Sehir Dersler&Hocalar
2,938059400744456192,muhammed caki,Muhammed4166,NaN,335,2220,1068,114,tr,muhammed ali,10211725757681071,muhammed cak,Sehir Dersler&Hocalar
3,401477209,muhammed caki,maliustun,a değil.,366,271,1251,1186,tr,muhammed ali,10211725757681071,muhammed cak,Sehir Dersler&Hocalar
4,218821230,muhammed caki,MuhammedCiya21,NaN,173,290,85,0,tr,muhammed ciya,10211725757681071,muhammed cak,Sehir Dersler&Hocalar

In [139]:
twitter_fb.set_index("sehir_matches").loc["muhammed caki"]

,twitter_ID,twitter_screen_name,profile_description,followers_count,friends_count,favourites_count,statuses_count,lang,twitter_name,fb_ID,full_name,membership
sehir_matches,,,,,,,,,,,,
muhammed caki,185410794,m_sysL,iühf 🐎,349,323,1852,7807,tr,muhammed mucahit,10211725757681071,muhammed cak,Sehir Dersler&Hocalar
muhammed caki,849869543522656256,Muhamme74015968,Haber Gündem Spor Futbol Müzik,2,57,1,7,tr,muhammed ali,10211725757681071,muhammed cak,Sehir Dersler&Hocalar
muhammed caki,938059400744456192,Muhammed4166,NaN,335,2220,1068,114,tr,muhammed ali,10211725757681071,muhammed cak,Sehir Dersler&Hocalar
muhammed caki,401477209,maliustun,a değil.,366,271,1251,1186,tr,muhammed ali,10211725757681071,muhammed cak,Sehir Dersler&Hocalar
muhammed caki,218821230,MuhammedCiya21,NaN,173,290,85,0,tr,muhammed ciya,10211725757681071,muhammed cak,Sehir Dersler&Hocalar

In [142]:
len(fb_df)

2746

In [143]:
len(twitter_fb)

1800

In [144]:
twitter_fb.groupby("sehir_matches").count().shape

(805, 12)

In [145]:
twitter_fb.to_csv('datasets/twitter_fb_matches.csv', index_label="ID")