In [1]:
from SehirParser import *

In [2]:
df = pd.read_csv("datasets/fb_users.csv", index_col="Unnamed: 0")
df.head()

,id,title,membership,first_name,middle_name,last_name,nick_name,full_name
0,10205567317451196,NaN,Şehir Dersler&Hocalar,abdelrahman,NaN,talaat,NaN,abdelrahman talaat
1,118404845632188,NaN,Şehir Dersler&Hocalar,muhammed,murat,ylmaz,NaN,muhammed murat ylmaz
2,127659998039364,NaN,Şehir Dersler&Hocalar,selman,NaN,yetkin,NaN,selman yetkin
3,984761058207720,NaN,Şehir Dersler&Hocalar,m,talha,ozdemir,NaN,m talha ozdemir
4,10203049808699022,NaN,Şehir Dersler&Hocalar,hilal,ebru,yakar,NaN,hilal ebru yakar

In [3]:
# df.head(10).to_csv("datasets/fb_users_toy.csv")

In [4]:
cols = {"id":"id", "name":"full_name", "screen_name":"full_name"}
s = SehirParser('datasets/contacts.csv', "datasets/fb_users.csv", cols)

In [5]:
s.twitter_users_count

4238

In [6]:
merged, sehir_matches_df = s.get_sehir_matches_df()

/home/ammar/Sehir_Network_Analysis/SehirParser.py:53: UserWarning: NaN name
  warnings.warn("NaN name")
/home/ammar/Sehir_Network_Analysis/SehirParser.py:53: UserWarning: NaN name
  warnings.warn("NaN name")
/home/ammar/Sehir_Network_Analysis/SehirParser.py:53: UserWarning: NaN name
  warnings.warn("NaN name")
/home/ammar/Sehir_Network_Analysis/SehirParser.py:53: UserWarning: NaN name
  warnings.warn("NaN name")
/home/ammar/Sehir_Network_Analysis/SehirParser.py:53: UserWarning: NaN name
  warnings.warn("NaN name")
/home/ammar/Sehir_Network_Analysis/SehirParser.py:53: UserWarning: NaN name
  warnings.warn("NaN name")
/home/ammar/Sehir_Network_Analysis/SehirParser.py:53: UserWarning: NaN name
  warnings.warn("NaN name")

In [7]:
sehir_matches_df.head()

               full_name                  sehir_matches
0     mustafa salih oguz    [(mustafa salih oguz, 100)]
1       taha yasin citil      [(taha yasin citil, 100)]
2  kuralay sagidollayeva  [(kurulay sagidollayeva, 95)]
3          habib ayrlmaz         [(habib ayrilmaz, 96)]
4       ahmet gezmisoglu      [(ahmet gezmisoglu, 100)]

In [9]:
len(sehir_matches_df)

2610

In [11]:
merged.set_index("GUID", inplace=True)
merged = merged[["full_name","sehir_matches"]]

In [12]:
merged.head()

                               full_name                  sehir_matches
GUID
780643935343317       mustafa salih oguz    [(mustafa salih oguz, 100)]
780643935343317       mustafa salih oguz    [(mustafa salih oguz, 100)]
10210904462584126       taha yasin citil      [(taha yasin citil, 100)]
1582789278680745   kuralay sagidollayeva  [(kurulay sagidollayeva, 95)]
1582789278680745   kuralay sagidollayeva  [(kurulay sagidollayeva, 95)]

In [13]:
merged.to_csv('datasets/sehir_fb_matches.csv', index_label="GUID")